//header
$height-header: 64px;

//font
$font-size-primary: 14px;
$font-size-lg: 16px;
$font-size-sm: 12px;
$font-size-icons: 1.3em;
$font-size-icons-lg: 1.7em;


//shadow 
$shadow-bottom: 0px -1px 8px #ebebeb;

//colors

$color-primary: #2a73f3;
$color-danger: #db3d44;
$color-light-gray: #d9d9d955;